{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    <div class="form-group">
        <form method="post">
            {% csrf_token %}
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">Tumor:</h5>
                    {{ form.tumor }}
                    <h5 class="card-title">Node:</h5>
                    {{ form.nodes }}
                    <h5 class="card-title">Metastase:</h5>
                    {{ form.metastases }}
                    <h5 class="card-title">Befund:</h5>
                    {{ form.report_text }}
                </div>
                <button class="btn btn-primary"
                        type="submit">Speichern
                </button>
            </div>
        </form>
    </div>
{% endblock %}