{% extends "base.html" %}
{% load static %}
{% block page_content %}

    <div class="form-group">
        <form method="post">
            {% csrf_token %}
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">Datum:</h5>
                    {{ form.timestamp }}
                    <h5 class="card-title">Arzt:</h5>
                    {{ form.doctor }}
                </div>
                <button class="btn btn-primary"
                        type="submit">Speichern
                </button>
            </div>
        </form>
    </div>

{% endblock %}