{% extends 'base.html' %}
{% load static %}

{% block page_content %}

    <div class="card">
        <div class="card-header">
            Neuer Mitarbeiter
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <h5>Titel</h5>
                {{ form.title }}
                <h5>Vorname</h5>
                {{ form.firstname }}
                <h5>Nachname</h5>
                {{ form.lastname }}
                <h5>Rolle</h5>
                {{ form.role }}
                <button class="btn btn-primary"
                        type="submit">Speichern
                </button>
            </form>
        </div>
    </div>

{% endblock %}