{% extends "base.html" %}
{% load static %}
{% block page_content %}
    <h1>{{ patient.user_print }}</h1>
    <div class="row">
        <div class="col-md-4">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Firstname</th>
                    <th scope="col">Lastname</th>
                    <th scope="col">Birthdate</th>
                    <th scope="col"> Age</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ patient.title }}</td>
                    <td>{{ patient.firstname }}</td>
                    <td>{{ patient.lastname }}</td>
                    <td>{{ patient.birthdate }}</td>
                    <td>{{ patient.getAge }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h1>Erstellte Termine</h1>
    <div class="row">
        {% for case in cases %}
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-header">Termin bei: </h5>
                    <h6 class="card-body">{{ case.doctor }}</h6>
                    <h5 class="card-header">Termin am: </h5>
                    <h6 class="card-body">{{ case.timestamp }}</h6>

                </div>
            </div>
        {% endfor %}
    </div>
    <h1>Neuer Termin</h1>
    <div class="row">
        <div class="card mb-2">
            <div class="card-body">
                <h5 class="card-title">Neuer Termin</h5>
                <p>Neuen Termin erstellen!</p>
                <a href="{% url 'kis_pro_newcase' patient.pk %}"
                   class="btn btn-primary">
                    Erstellen
                </a>
            </div>
        </div>
    </div>

{% endblock %}