{% extends "base.html" %}
{% load static %}
{% block page_content %}
    <h1>Anmeldung</h1>
    <div class="col">
        {% for user in user %}
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">{{ user.user_print }}</h5>
                    <p class="card-text">{{ user.role_to_name }}</p>
                    <a href="{% url 'kis_pro_registration' %}"
                       class="btn btn-primary">
                        Wählen
                    </a>
                    <a href="{% url 'kis_pro_deleteregistration' user.pk %}"
                       class="btn btn-danger">
                        Löschen
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    <h1>Ärzte</h1>
    <div class="col">
        {% for doc in docs %}
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">{{ doc.user_print }}</h5>
                    <p class="card-text">{{ doc.role_to_name }}</p>
                    <a href="{% url doc.role_to_url doc.pk %}"
                       class="btn btn-primary">
                        Wählen
                    </a>
                    <a href="{% url 'kis_pro_deleteuser' doc.pk %}"
                       class="btn btn-danger">
                        Löschen
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    <h1>Neuer Mitarbeiter</h1>
    <div class="col">
        <div class="card mb-2">
            <div class="card-body">
                <h5 class="card-title">Neuer Nutzer</h5>
                <p>Neuen Nutzer erstellen!</p>
                <a href="{% url 'kis_pro_newuser' %}"
                   class="btn btn-primary">
                    Hinzufügen
                </a>
            </div>
        </div>
    </div>
{% endblock %}