{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    <div class="form-group">
        <form method="post">
            {% csrf_token %}
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">Organ:</h5>
                    {{ form.organ }}
                    <h5 class="card-title">Gewebe:</h5>
                    {{ form.tissue }}
                    <h5 class="card-title">Befund:</h5>
                    {{ form.report_text }}
                </div>
                <button class="btn btn-primary"
                        type="submit">Speichern
                </button>
            </div>


        </form>
    </div>
{% endblock %}